<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sap.inspection">
    <!-- vc 6 vn 0.0.7 check if any update -->
    <!-- vc 7 vn 0.0.8 check db closed if not opened on mainactivity -->
    <!-- vc 8 vn 0.0.9 enable full GPS -->
    <!-- vc 9 vn 0.0.10 change timeout to 20sec -->
    <!-- vc 10 vn 0.0.11 add refresh schedule on setting, schedule sort desc, add username and app version -->
    <!-- vc 11 vn 0.0.12 can delete data with password -->
    <!-- vc 13 vn 0.0.13 hot fix url endpoint -->
    <!-- vc 14 vn 0.0.14 skipped because satria didn't confirm want to upload -->
    <!-- vc 15 vn 0.0.16 drop down and multiple user form -->
    <!-- vc 16 vn 0.0.17 changing endpoint from mobile-api.sekap.net to operation-api.sekap.net -->
    <!-- vc 17 vn 0.0.18 corrective form done, but upload for it is still hidden, upload delete all corrective datas, skip corrective upload -->
    <!-- vc 18 vn 0.0.19 reupload all data with confirmation, update always download apk -->
    <!-- vc 19 vn 0.0.20 hot fix, jsonObject.wrap tidak di support di icecream -->
    <!--
<uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.sap.inspection.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.sap.inspection.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".view.ui.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:theme="@style/TowerAppTheme"
        tools:replace="android:theme">
        <activity android:name=".view.adapter.Dummy2Activity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".view.ui.GroupWargaActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service android:name="com.rindang.pushnotification.FCMListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormFillActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ui.CallendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- Needed for push notification -->
        <!--
<receiver
            android:name="com.rindang.pushnotification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.sap.inspection" />
            </intent-filter>
        </receiver>
        -->
        <!-- <service android:name="com.rindang.pushnotification.GcmIntentService" /> -->
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a53943a44ac132e64a7b3d19b42aba757b44f2bf" />
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <activity
            android:name=".view.ui.CheckInActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>